# Final Report

Transplant the necessary code from `eda.ipynb` to this notebook, and clean everything up for presentation!

In [8]:
!pip install pandas
!pip install matplotlib

Requirement already satisfied: pandas in /Users/tabithaperry/.pyenv/versions/3.9.1/lib/python3.9/site-packages (1.2.3)
Requirement already satisfied: numpy>=1.16.5 in /Users/tabithaperry/.pyenv/versions/3.9.1/lib/python3.9/site-packages (from pandas) (1.20.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/tabithaperry/.pyenv/versions/3.9.1/lib/python3.9/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Users/tabithaperry/.pyenv/versions/3.9.1/lib/python3.9/site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in /Users/tabithaperry/.pyenv/versions/3.9.1/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Collecting matplotlib
  Downloading matplotlib-3.4.1-cp39-cp39-macosx_10_9_x86_64.whl (7.2 MB)
     |████████████████████████████████| 7.2 MB 2.5 MB/s eta 0:00:01     |███████▉                        | 1.8 MB 2.5 MB/s eta 0:00:03
Collecting cycler>=0.10
  Downloading cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.3.1-cp39-cp39-macosx_10_9_x86_64.whl (61 kB)
     |████████████████████████████████| 61 kB 832 kB/s  eta 0:00:01
Requirement already satisfied: pyparsing>=2.2.1 in /Users/tabithaperry/.pyenv/versions/3.9.1/lib/python3.9/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: numpy>=1.16 in /Users/tabithaperry/.pyenv/versions/3.9.1/lib/python3.9/site-packages (from matplotlib) (1.20.2)
Collecting pillow>=6.2.0
  Downloading Pillow-8.2.0-cp39-cp39-macosx_10_10_x86_64.whl (2.8 MB)
     |████████████████████████████████| 2.8 MB 38.3 MB/s eta 0:00:01     |████████████▎                   | 1.1 MB 38.3 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7 in /Users/tabithaperry/.pyenv/versions/3.9.1/lib/python3.9/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: six in /Users/tabithaperry/.pyenv/versions/3.9.1/lib/python3.9/site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Installing collected packages: pillow, kiwisolver, cycler, matplotlib
Successfully installed cycler-0.10.0 kiwisolver-1.3.1 matplotlib-3.4.1 pillow-8.2.0

In [9]:
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
onebedroom = pd.read_csv('data/City_MedianRentalPrice_1Bedroom.csv')
fourbedroom = pd.read_csv('data/City_MedianRentalPrice_4Bedroom.csv')

In [44]:
onebedroom['bedrooms'] = 1
onebedroom.head(50)

,Unnamed: 0,RegionName,State,Metro,CountyName,SizeRank,2010-02,2010-03,2010-04,2010-05,...,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,bedrooms
0,0,New York,NY,New York-Newark-Jersey City,Queens County,1,NaN,NaN,NaN,2250.0,...,2400.0,2400.0,2450.0,2450.0,2475.0,2475.0,2400.0,2400.0,2425.0,1
1,1,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,2,NaN,NaN,NaN,NaN,...,2395.0,2370.0,2395.0,2395.0,2400.0,2425.0,2350.0,2330.0,2340.0,1
2,2,Houston,TX,Houston-The Woodlands-Sugar Land,Harris County,3,NaN,NaN,NaN,NaN,...,1270.0,1269.0,1286.0,1275.0,1275.0,1270.0,1264.0,1245.0,1249.0,1
3,3,Chicago,IL,Chicago-Naperville-Elgin,Cook County,4,NaN,NaN,NaN,NaN,...,1650.0,1650.0,1634.0,1600.0,1582.0,1595.0,1542.0,1550.0,1550.0,1
4,4,San Antonio,TX,San Antonio-New Braunfels,Bexar County,5,NaN,NaN,NaN,NaN,...,981.0,985.0,999.0,1000.0,1000.0,991.0,985.0,974.5,967.5,1
5,5,Philadelphia,PA,Philadelphia-Camden-Wilmington,Philadelphia County,6,NaN,NaN,NaN,NaN,...,1525.0,1496.0,1500.0,1507.5,1554.0,1495.0,1500.0,1500.0,1470.0,1
6,6,Phoenix,AZ,Phoenix-Mesa-Scottsdale,Maricopa County,7,NaN,NaN,NaN,NaN,...,1115.5,1172.5,1161.0,1129.0,1102.5,1122.0,1100.0,1110.0,1170.0,1
7,7,Las Vegas,NV,Las Vegas-Henderson-Paradise,Clark County,8,NaN,NaN,NaN,NaN,...,1010.0,1008.0,1026.0,1010.0,1040.0,1029.5,1030.0,1025.0,1028.0,1
8,8,San Diego,CA,San Diego-Carlsbad,San Diego County,9,NaN,NaN,NaN,NaN,...,1990.0,2000.0,2050.0,2100.0,2100.0,2100.0,2049.5,1995.0,2000.0,1
9,9,Dallas,TX,Dallas-Fort Worth-Arlington,Dallas County,10,NaN,NaN,NaN,NaN,...,1375.0,1375.0,1360.0,1355.0,1330.0,1335.0,1340.0,1330.0,1340.0,1
10,10,Austin,TX,Austin-Round Rock,Travis County,11,NaN,NaN,NaN,NaN,...,1319.0,1350.0,1350.0,1349.0,1350.0,1350.0,1345.0,1345.0,1340.0,1
11,11,San Jose,CA,San Jose-Sunnyvale-Santa Clara,Santa Clara County,12,NaN,NaN,NaN,NaN,...,2615.0,2600.0,2685.0,2735.0,2705.0,2665.0,2640.0,2641.0,2635.0,1
12,12,Jacksonville,FL,Jacksonville,Duval County,13,NaN,NaN,NaN,NaN,...,1195.0,1185.0,1145.0,1160.0,1130.0,1120.0,1135.5,1159.0,1200.0,1
13,13,Indianapolis,IN,Indianapolis-Carmel-Anderson,Marion County,14,NaN,NaN,NaN,NaN,...,879.0,859.0,850.0,829.0,825.0,827.0,810.0,827.0,835.0,1
14,14,San Francisco,CA,San Francisco-Oakland-Hayward,San Francisco County,15,NaN,NaN,NaN,NaN,...,3534.0,3600.0,3641.5,3615.0,3600.0,3650.0,3580.0,3499.0,3500.0,1
15,15,Charlotte,NC,Charlotte-Concord-Gastonia,Mecklenburg County,16,NaN,NaN,NaN,NaN,...,1315.0,1335.0,1325.0,1375.0,1370.0,1375.0,1346.0,1365.0,1371.0,1
16,16,Fort Worth,TX,Dallas-Fort Worth-Arlington,Tarrant County,17,NaN,NaN,NaN,NaN,...,1350.0,1344.0,1300.0,1293.0,1280.0,1266.0,1250.0,1250.0,1260.0,1
17,17,Tucson,AZ,Tucson,Pima County,18,NaN,NaN,NaN,NaN,...,695.0,680.0,675.0,680.0,695.0,707.5,700.0,700.0,695.0,1
18,18,Columbus,OH,Columbus,Franklin County,19,NaN,NaN,NaN,NaN,...,885.0,915.0,917.0,900.0,955.0,905.0,960.0,900.0,930.0,1
19,19,Louisville,KY,Louisville/Jefferson County,Jefferson County,20,NaN,NaN,NaN,NaN,...,904.5,945.0,927.5,900.0,895.0,900.0,924.0,925.0,935.0,1
20,20,Orlando,FL,Orlando-Kissimmee-Sanford,Orange County,21,NaN,NaN,NaN,NaN,...,1310.0,1339.0,1357.0,1350.0,1337.0,1305.0,1316.5,1340.0,1345.0,1
21,21,El Paso,TX,El Paso,El Paso County,22,NaN,NaN,NaN,NaN,...,725.0,689.0,725.0,699.5,680.0,650.0,625.0,630.0,610.0,1
22,22,Denver,CO,Denver-Aurora-Lakewood,Denver County,23,NaN,NaN,NaN,NaN,...,1638.0,1683.0,1715.0,1684.5,1669.0,1658.0,1676.0,1686.0,1682.0,1
23,23,Seattle,WA,Seattle-Tacoma-Bellevue,King County,24,NaN,NaN,NaN,NaN,...,2047.0,2050.0,2050.0,2057.0,2064.5,2046.0,2034.0,2027.5,2013.5,1
24,24,Memphis,TN,Memphis,Shelby County,25,NaN,NaN,NaN,NaN,...,776.0,801.5,819.0,895.0,862.0,857.0,852.0,857.0,830.0,1
25,25,Boston,MA,Boston-Cambridge-Newton,Suffolk County,26,NaN,NaN,NaN,NaN,...,2150.0,2175.0,2195.0,2200.0,2150.0,2200.0,2300.0,2300.0,2375.0,1
26,26,Washington,DC,Washington-Arlington-Alexandria,District of Columbia,27,NaN,NaN,NaN,NaN,...,2346.0,2349.0,2350.0,2363.0,2370.0,2341.0,2300.0,2290.0,2295.0,1
27,27,Portland,OR,Portland-Vancouver-Hillsboro,Multnomah County,28,NaN,NaN,NaN,NaN,...,1532.0,1545.0,1563.5,1595.0,1599.0,1599.0,1584.0,1595.0,1599.0,1
28,28,Nashville,TN,Nashville-Davidson--Murfreesboro--Franklin,Davidson County,29,NaN,NaN,NaN,NaN,...,1465.0,1464.0,1440.0,1394.0,1368.0,1420.0,1417.0,1441.0,1432.0,1
29,29,Sacramento,CA,Sacramento--Roseville--Arden-Arcade,Sacramento County,30,NaN,NaN,NaN,NaN,...,1301.5,1395.0,1395.0,1407.0,1470.0,1399.0,1445.0,1450.0,1405.0,1
30,30,Baltimore,MD,Baltimore-Columbia-Towson,Baltimore City,31,NaN,NaN,NaN,NaN,...,1420.0,1390.0,1350.0,1370.0,1375.0,1362.0,1395.0,1361.0,1381.0,1
31,31,Milwaukee,WI,Milwaukee-Waukesha-West Allis,Milwaukee County,32,NaN,NaN,NaN,NaN,...,825.0,847.5,885.0,895.0,875.0,970.0,947.5,927.5,991.0,1
32,32,Fresno,CA,Fresno,Fresno County,33,NaN,NaN,NaN,NaN,...,875.0,922.5,975.0,950.0,950.0,869.5,845.0,845.0,850.0,1
33,33,Omaha,NE,Omaha-Council Bluffs,Douglas County,34,NaN,NaN,NaN,NaN,...,850.0,830.0,840.0,820.0,823.5,835.0,850.0,850.0,840.0,1
34,34,Albuquerque,NM,Albuquerque,Bernalillo County,35,NaN,NaN,NaN,NaN,...,775.0,775.0,777.0,781.0,780.0,781.0,775.0,769.5,771.5,1
35,35,Oklahoma City,OK,Oklahoma City,Oklahoma County,36,NaN,NaN,NaN,NaN,...,802.0,795.0,750.0,760.0,780.0,765.0,750.0,765.0,767.5,1
36,36,Raleigh,NC,Raleigh,Wake County,37,NaN,NaN,NaN,NaN,...,1102.0,1085.0,1080.0,1095.0,1108.0,1110.0,1101.0,1145.0,1182.0,1
37,37,Mesa,AZ,Phoenix-Mesa-Scottsdale,Maricopa County,38,NaN,NaN,NaN,NaN,...,955.5,989.0,975.0,965.0,978.0,968.0,957.0,984.5,981.0,1
38,38,Miami,FL,Miami-Fort Lauderdale-West Palm Beach,Miami-Dade County,39,1575.0,1550.0,1550.0,1500.0,...,2000.0,1999.0,2000.0,2000.0,2000.0,2000.0,2000.0,2000.0,2015.0,1
39,39,Atlanta,GA,Atlanta-Sandy Springs-Roswell,Fulton County,40,1095.0,1090.0,1125.0,1125.0,...,1595.0,1593.0,1601.5,1606.0,1616.0,1605.0,1600.0,1587.0,1580.0,1
40,40,Kansas City,MO,Kansas City,Jackson County,41,NaN,NaN,NaN,NaN,...,1015.0,995.0,975.0,965.0,955.0,960.0,950.0,930.0,955.0,1
41,41,Colorado Springs,CO,Colorado Springs,El Paso County,42,NaN,NaN,NaN,NaN,...,1208.0,1210.0,1196.0,1225.5,1160.0,1207.0,1325.0,1200.0,1206.0,1
42,42,Long Beach,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,43,NaN,NaN,NaN,NaN,...,1650.0,1645.0,1650.0,1695.0,1675.0,1695.0,1695.0,1650.0,1650.0,1
43,43,Virginia Beach,VA,Virginia Beach-Norfolk-Newport News,Virginia Beach City,44,NaN,NaN,NaN,NaN,...,1078.5,1071.0,1098.0,1145.0,1145.0,1117.5,1095.0,1119.0,1095.0,1
44,44,Oakland,CA,San Francisco-Oakland-Hayward,Alameda County,45,NaN,NaN,NaN,NaN,...,3055.0,3063.0,3125.0,3146.0,3170.0,3075.0,2939.5,2875.0,2970.0,1
45,45,Tulsa,OK,Tulsa,Tulsa County,46,NaN,NaN,NaN,NaN,...,675.0,695.0,705.0,790.0,765.0,775.0,765.0,778.0,815.0,1
46,46,Minneapolis,MN,Minneapolis-St. Paul-Bloomington,Hennepin County,47,NaN,NaN,NaN,NaN,...,1515.0,1500.0,1525.0,1500.0,1500.0,1493.0,1495.0,1483.5,1525.0,1
47,47,Honolulu,HI,Urban Honolulu,Honolulu County,48,NaN,NaN,NaN,NaN,...,1750.0,1750.0,1750.0,1700.0,1700.0,1800.0,1750.0,1700.0,1650.0,1
48,48,Cleveland,OH,Cleveland-Elyria,Cuyahoga County,49,NaN,NaN,NaN,NaN,...,1195.0,1180.0,1199.0,1165.0,1200.0,1065.0,1050.0,1052.5,1019.0,1
49,49,New Orleans,LA,New Orleans-Metairie,Orleans Parish,50,NaN,NaN,NaN,NaN,...,1450.0,1445.0,1409.0,1400.0,1515.0,1535.0,1532.5,1480.0,1455.0,1

In [40]:
fourbedroom['bedrooms'] = 4
fourbedroom.shape

(316, 126)

In [37]:
rentals = pd.concat([onebedroom, fourbedroom])

In [39]:
rentals.head()
rentals.shape

(1134, 126)

In [48]:
# rslt_df = dataframe[dataframe['Percentage'] > 80]
boston = rentals [rentals['RegionName'] == 'Boston']

In [116]:
boston.head()
boston_dates = boston.drop(boston.columns[[0, 1, 2, 3, 4, 5]], axis=1)

In [134]:
dates1 = []
dates2 = []
rental_prices1 = []
rental_prices2 = []

for col in boston_dates:
    dates1.append(col)
    dates2.append(col)

    
one_bedroom_dates = pd.DataFrame(dates1, columns = ['Date'])
four_bedroom_dates = pd.DataFrame(dates2, columns = ['Date'])

one_bedroom_rent = boston.iloc[0].drop(boston.columns[[0, 1, 2, 3, 4, 5]])
four_bedroom_rent = boston.iloc[1].drop(boston.columns[[0, 1, 2, 3, 4, 5]])

for price in one_bedroom_rent:
    rental_prices1.append(price)
    
for price in four_bedroom_rent:
    rental_prices2.append(price)
    
rents1 = pd.DataFrame(rental_prices1, columns = ['Rent'])

rents2 = pd.DataFrame(rental_prices2, columns = ['Rent'])



boston_rents1 = pd.concat([one_bedroom_dates, rents1], axis='columns')
boston_rents1['Bedrooms'] = 1
boston_rents1.drop(boston_rents.tail(1).index, inplace=True)

boston_rents2 = pd.concat([four_bedroom_dates, rents2], axis='columns')
boston_rents2['Bedrooms'] = 4
boston_rents2.drop(boston_rents2.tail(1).index, inplace=True)


one_vs_four = pd.concat([boston_rents1, boston_rents2])

one_vs_four

        Date    Rent  Bedrooms
0    2010-02     NaN         1
1    2010-03     NaN         1
2    2010-04     NaN         1
3    2010-05     NaN         1
4    2010-06     NaN         1
..       ...     ...       ...
114  2019-08  3550.0         4
115  2019-09  3550.0         4
116  2019-10  3500.0         4
117  2019-11  3600.0         4
118  2019-12  3900.0         4

[238 rows x 3 columns]

In [141]:
mapping_dict = { '1': 0,'2': 1 }
one_vs_four['bed_as_num'] = one_vs_four['Bedrooms'].map(mapping_dict)
one_vs_four
# one_vs_four.plot(kind='scatter', x='Date', y='Rent', figsize=(13, 8), s=2, c='bed_as_num', colormap='winter');

        Date    Rent  Bedrooms  bed_as_num
0    2010-02     NaN         1         NaN
1    2010-03     NaN         1         NaN
2    2010-04     NaN         1         NaN
3    2010-05     NaN         1         NaN
4    2010-06     NaN         1         NaN
..       ...     ...       ...         ...
114  2019-08  3550.0         4         NaN
115  2019-09  3550.0         4         NaN
116  2019-10  3500.0         4         NaN
117  2019-11  3600.0         4         NaN
118  2019-12  3900.0         4         NaN

[238 rows x 4 columns]